#include "roBa.dtsi"
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        ;
};

/* 安全のためI2Cを無効化（念の為入れておきます） */
&i2c0 { status = "disabled"; };

/* ▼▼▼ トラックボール設定 ▼▼▼ */
/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        /* ① レイヤー5の時：スクロール */
        scroller {
            layers = <5>;
            input-processors = <&zip_xy_to_scroll_mapper>
                             , <&zip_scroll_scaler 1 64>;
        };

        /* ② それ以外の時：カーソル移動（ここを追加！） */
        default_movement {
            /* 普段使うレイヤーをすべて列挙します */
            layers = <0 1 2 3 4 6>; 
            input-processors = <&zip_xy_scaler 1 1>;
        };
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                <NRF_PSEL(SPIM_MOSI, 0, 4)>;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                <NRF_PSEL(SPIM_MOSI, 0, 4)>;
            low-power-enable;
        };
    };
};

&xiao_serial { status = "disabled"; };

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    
    /* 【重要】一番最初の「動いていたコード」の設定に戻しました。
       物理的にここに繋がっているなら、ここを変えてはいけませんでした。失礼しました。
    */
    cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        motion-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        res-cpi = <600>;
        
        /* ▼▼▼ 向きの修正 ▼▼▼ */
        /* 90度ずれていたとのことなので、XとYの指定を「素直な設定」に戻しました */
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
    };
};
